<%= form_with(model: [@tour, tour_availability], html: { class: 'availability-form' }) do |form| %>
  <% if tour_availability.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tour_availability.errors.count, "error") %> prohibited this tour_availability from being
        saved:</h2>

      <ul>
        <% tour_availability.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :tour_id %>

  <div>
    <%= form.label :start_date, style: "display: block" %>
    <%= form.date_field :start_date, class: 'start_date' %>
  </div>

  <div>
    <%= form.label :start_time, style: "display: block" %>
    <%= form.number_field :start_time %>
  </div>

  <div>
    <%= form.label :end_date, style: "display: block" %>
    <%= form.date_field :end_date %>
  </div>

  <div>
    <%= form.label :end_time, style: "display: block" %>
    <%= form.number_field :end_time %>
  </div>

  <div>
    <%= form.label :recur_type, style: "display: block" %>
    <%= form.select :recur_type, options_for_enum(TourAvailability.recur_types, tour_availability.recur_type), { include_blank: true }, class: 'recur_type' %>
  </div>

  <div class="recur_options">
    <div>
      <%= form.label :recur_frequency, style: "display: block" %>
      <%= form.number_field :recur_frequency %>
    </div>

    <div class="recur_options_weekly">
      <%= form.label :recur_days, style: "display: block" %>
      <% Date::DAYNAMES.map.with_index do |day, index| %>
        <%= check_box_tag 'tour_availability[recur_days][]', index, tour_availability.recur_days.include?(index) %>
        <%= day %>
      <% end %>
    </div>

    <div class="recur_options_monthly">
      <%= form.label :recur_month, style: "display: block" %>
      <%= form.select :recur_month, options_for_enum(TourAvailability.recur_months, tour_availability.recur_month), { include_blank: true }, class: 'recur_month' %>
    </div>

    <div>
      <%= form.label :recur_end_date, style: "display: block" %>
      <%= form.date_field :recur_end_date %>
    </div>

    <div>
      <%= form.label :recur_end_occurrence, style: "display: block" %>
      <%= form.number_field :recur_end_occurrence %>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
