<div id="<%= dom_id tour_availability %>">
  <p>
    <strong>Start date:</strong>
    <%= tour_availability.start_date %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= tour_availability.start_time %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= tour_availability.end_date %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= tour_availability.end_time %>
  </p>

  <p>
    <strong>Recur type:</strong>
    <%= tour_availability.recur_type %>
  </p>

  <p>
    <strong>Recur frequency:</strong>
    <%= tour_availability.recur_frequency %>
  </p>

  <p>
    <strong>Recur days:</strong>
    <%= tour_availability.recur_days_to_s %>
  </p>

  <p>
    <strong>Recur month:</strong>
    <%= tour_availability.recur_month %>
  </p>

  <p>
    <strong>Recur end date:</strong>
    <%= tour_availability.recur_end_date %>
  </p>

  <p>
    <strong>Recur end occurrence:</strong>
    <%= tour_availability.recur_end_occurrence %>
  </p>

</div>
